# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pyc
.zip

daily_review_env/*
env.yml

# Serverless directories
.serverless
.DS_Store
